.loader {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid navy;
  margin: 2rem auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 29px;
    left: 30px;
    display: block;
    transform-origin: 0% 100%;
    width: 1px;
    height: 24px;
    background: navy;
    animation: tick 1s infinite linear;
  }
}

@keyframes tick {
  to {
    transform: rotate(359deg);
  }
}
