.card {
  padding: 0;
  margin: 0.5rem 0;
  &-title-modify{
    line-height: 1.4;
    height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.itemBuyButton {
  background: #7ed957;
  border: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  cursor: pointer;
  transform: skew(-21deg);
}

.span-button {
  display: inline-block;
  transform: skew(21deg);
}

.itemBuyButton::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #ff3131;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.itemBuyButton:hover {
  color: #fff;
}

.itemBuyButton:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

//PROBAR ESTO DEL HOVER DE LA CARD

/* 
<div class="card">
    <h2>CARD</h2>
</div>
.card {
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}



.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;

}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
 .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} 
 */