.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(95, 88, 88);
  &-brand {
    width: 33.3%;
    text-align: center;//centrar el logo
    &-logo {
      width: 10rem;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 33.3%;
    &-links {
      margin: 0 0.5rem;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  &-cart {
    width: 33.3%;
  }
}
